/* css reset */
body{
    margin: 0;
    padding: 0;
    background-color: rgba(238, 247, 237, 0.7);
    font-family: 'Open Sans', sans-serif;
}

h1, h2, p{
    margin: 10px 10px;
    padding: 10px 10px;
}

/*  
====================================================================================
*************************** Body starts here (1440px)  ***************************** 
====================================================================================
*/
.container{
    max-width: 1440px;
    margin: 0 auto;
}
/* Image of self divs */
#image{
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}  

#image img{
    height:80%;
    width: 70%;
    border-radius: 47%;
    padding-top: 30px;
}

/* Banner that states "About" */
.about{
    background-color: #517f56;
    text-align: center;
    font-size: 5em;
    padding: 20px 0;
    margin: 40px 0;
}

/* main div containing major contents of page content (summary, social media etc) */
#main{
    display: flex;
    flex-direction: column;
}

/* Template for each id's divs, headers etc */
#summary, #skill, #socials{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    border-radius: 5px;
    background-color: #d0f4d0;
    box-shadow: 10px 10px 30px rgba(0, 0,0, 0.3);
    white-space: wrap;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

#socials h2, #skill h2, #summary h2{
    margin-left:5rem
}

hr{
    margin: 0 1.5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

/* summary div */
#summary:not(hr){
    margin: 1rem;
    padding: 10px;
}

#summary #summary1{
    line-height: 1.5rem;
    text-align: center;
    height: 100%;

}

/* Skills div */
#skill{
    margin: 1rem;
}

#skill #skills{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#skill #skills ul{
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: center;
}

#skill #skills li{
    margin: 0.7rem;
}

/* Social media and icons div */
#socials{
    margin: 1rem;
}

#socials #soc-img{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#socials #soc-img img{
    margin: 1rem;
    max-width: 3rem;
    max-height: 3rem;
}

/*  
====================================================================================
*************************** RESPONSIVENESS (768PX)  ******************************** 
====================================================================================
*/

@media(max-width:768px){

    #image{
        height: 80%;
        width: 70%;
        display: flex;
        justify-content: center;
    }  
    
    #image img{
        height: 90%;
        width: 90%;
        border-radius: 47%;
    }

    #socials{
        height: 17rem;
    }

    #socials #soc-img{
        flex-flow: row wrap;
    }

}

/*  
====================================================================================
***************************** RESPONSIVENESS (425px)  ****************************** 
====================================================================================
*/

@media(max-width:425px){
    /* changed navbar position for asthetics */
    .navbar{
        position: static;
    }
    /* resizing self image and div*/
    #image{
        display: flex;
        justify-content: center;
        height: 40vh;
        width: 100vw;
    }

    #image img{
        height: 40vh;
        width: 60vw;
    }

    /* realignments */
    #socials h2, #skill h2, #summary h2{
        margin-left:2rem
    }    

    #skill, #summary{
        height: 20rem;
        width: 65vw;
    }

    #socials{
        width: 65vw;
    }

}

/*  
====================================================================================
*************************** rESPONSIVENESS (393px)  ***************************** 
====================================================================================
*/
@media(max-width:393px){
    #socials #soc-img img{
        margin: 1rem;
        max-width: 2rem;
        max-height: 2rem;
    }

    #summary, #skill, #socials{
        font-size: 0.7rem;
        line-height: 0.7rem;
    }

    .about{
        font-size: 4Rem;
    }

    #heading{
        font-size: 25px;
    }
}
