body{
    margin: 0;
    padding: 0;
    background-color: rgba(238, 247, 237, 0.7);
    font-family: 'Open Sans', sans-serif;
}


/* nav bar here! */
.navbar{
    margin: 0;
    padding: 0;
    background: rgba(255,255,255,0);
    overflow: auto;
    position: fixed;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 40em;
    float: right;
    display: block;
}

.navbar li{
    float: left;
}

.navbar li a{
    text-decoration: none;
    display: block;
    padding: 16px 20px;
    color: #073307;
    font-size: 20px;
    font-weight: 400;
}

.navbar li a:hover{
    background-color: #d1d6d2;
}

#name{
    font-size: 20px;
    margin-top: 5px;
}

#role{
    margin-top: -15px;
    font-size: 12px;
}

#brand{
    display: inline-block;
    padding-left: 30px;
    color: #073307;
}
/* nav bar end */

#image{
    max-height: 500px;
    max-width: 50%;
    margin: 30px auto;
}  

#image img{
    height: 500px;
    width: 100%;
    /* background: url("/images/IMG_1083.JPG") fixed center no-repeat; */
    /* background-size: cover; */
    align-content: center;
    border-radius: 47%;
   }

#about, #skill, #socials{
    max-width: 40%;
    max-height: 50%;
    margin:20px auto;
    border: #cad8c9 2px solid;
    background-color: #e4f2e3;
    padding: 0 20px;
    border-radius: 10px;
}
#socials img{
    max-width: 10%;
    max-height: 20%;
    float: left;
    padding: 20px 40px 40px 40px;
    align-content: center;
    /* padding-left: 80px; */
}

#clear{
    clear: both;
}

.about{
    background-color: #517f56;
    text-align: center;
    font-size: 5em;
    padding: 20px 0;
}