/* body, reset */
.navbar{
    position: relative;
    top: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(238, 247, 237, 0.7);
    font-family: 'Open Sans', sans-serif;
}

h1, h2, p{
    margin: 10px 10px;
    padding: 10px 10px;
}

/* My image */

#image{
    max-height: 500px;
    max-width: 50%;
    margin: 30px auto;
}  

#image img{
    height: 500px;
    width: 100%;
    align-content: center;
    border-radius: 47%;
}

/* About(H1) */

.about{
    background-color: #517f56;
    text-align: center;
    font-size: 5em;
    padding: 20px 0;
    margin: 50px 0;
}

/* Summary(about), skills and socials divs */

#summary, #skill, #socials{
    max-width: 40%;
    max-height: 50%;
    margin:20px auto;
    border: #cad8c9 2px solid;
    background-color: #e4f2e3;
    padding: 0 20px;
    border-radius: 10px;
}

#summary p{
    margin: 10px 30px;
}

#socials img{
    max-width: 10%;
    max-height: 20%;
    float:  left;
    display: block;
    /* padding: 20px 40px 40px 40px; (Images seize to display when padding is added) */
    align-content: center;
    margin: 20px;
}

#skill ul{
    margin: 5px 5px 10px 40px;
    list-style-type: none;
}
