/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}


/*  
====================================================================================
*************************** Navbar and footer changes  *****************************
====================================================================================
*/

/* Changed the footer and footer items color and navbar color for better asthetics and visibility */
.navbar{
    background-color: white ;
}

#footer{
    background-color: white;
}

#footer #subscribe p{
    color: black;
}

#footer #footer1 #footerlinks a{
    border-right: black solid 1px;
    color: black;
}

#footer #subscribe .btn{
    background-color: #073307;
    color: white;
}

/*  
====================================================================================
*************************** Body starts here (1440PX)  *****************************
====================================================================================
*/

/* container */
.con{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #073307;
}


/* main contact flex-box */
#contactme{
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Template for both sides of contact divs */
#contact1, #contact2{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    height: 400px;
    width: 30%;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

/* Left side of contact divs */
#contact1 .contact-con{
    width: 70%;
}

/* Social media icon container */
#contact1 #img{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    height: 4rem;
    width: 12rem;
    justify-content: center;
    justify-content: space-evenly;
    align-content: center;
}

/*social media icon circles */
#contact1 #img .img1{
    display: flex;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: yellowgreen;
    justify-content: center;
}

/* Social media icons */
#contact1 #img .img1 img{
    margin-top: 0.7rem;
    height: 2.5rem;
    width: 2.5rem;
}

#contact1 h1{
    font-size: 2rem;
}

#contact1 h1, p{
    color: #073307;
}

/* right side of contact divs */
#contact2{
    border-left: solid #073307 0.1rem;
}

/* contact form */
#contact2 .contactform{
display: flex;
flex-direction: column;
align-content: center;
width: 80%;
}

/* name, email and phone number inputs */
#contact2 .contactform input{
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
}

#contact2 .contactform textarea{
    margin: 0.5rem;
    border: none;
}

#contact2 .contactform #submit{
    background-color: yellowgreen;
    border: none;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

/*  
====================================================================================
**************************** RESPONSIVENESS (768PX) ********************************
====================================================================================
*/

@media(max-width:768px){
    .con{
        max-width: 768px;
    }

    /* main contact me divs moves from row to column */
    #contactme{
        flex-direction: column;
    }

    /* Resizing top half div (left side) */
    #contact1{
        width: 50%;
        justify-content: center;
        text-align: center;
    }

    /* resizing (shrinking) icons and texts */
    #contact1 #img{
        margin-top: 0;
    }

    #contact1 h1, #contact1 p{
        padding-right: 1.5rem;
    }

    #contact2{
        margin-top: 0.2rem;
        width: 50%;
    }
}

/*  
====================================================================================
***********************************  (425PX)  **************************************
====================================================================================
*/

@media(max-width:425px){
    .con{
        max-width: 425px;
    }

    #contact1{
        width: 80%;
    }

    #contact2{
        /* height: 60vh; */
        width: 80%;
        /* margin-top: 0.3rem; */
    }

    #contact1 #img{
        margin-bottom: 0.5rem;
    }

}

/*  
====================================================================================
*************************** Body starts here (1440PX)  *****************************
====================================================================================
*/

@media(max-height:414px){
    /* changed navbabr position for asthetics */
     .navbar{
        position: static;
    }

    /* resizing and aligning */
    #contactme{
        margin-top: 0;
        padding: 0;
    }

    #contact1{
        margin-top: 5rem;
        height: 60vh;
        padding-left: 0;
    }

    #contact1 h1, #contact1 p{
        padding-right: 0;
    }

    #contact2{
        height: 90vh;
        margin-top: 0.3rem;
    }

    #contact2 .contactform{
        margin-left: 24px;
    }

    #contact1 #img{
        margin-bottom: 0.2rem;
    }

    #contact1 #img .img1{
        height: 3rem;
        width: 3rem;
        align-items: center;
    }

    #contact1 #img .img1 img{
        margin-top: 0.7rem;
        height: 1.5rem;
        width: 1.5rem;
        align-self: center;
    }

}
