/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}


/*  
====================================================================================
******************************   HAMBURGER MENU  *********************************** 
====================================================================================
*/
.ham-con{
    position: sticky;
    max-width: 1440px;
    display: flex;
    right: 0;
    border: none;
    z-index: 1000;
}
.ham {
    visibility: hidden;
    position: absolute;
    top: 10;
    right: 0;
    z-index: 1000;
    height: 36px;
    cursor: pointer;
    margin: 20px 0 5px 0;
    display: flex;
    flex-direction: column;
    width: 3%;
    justify-self: flex-end;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.ham:hover{
    border: none;
}

.ham-element, .ham-element1{
    width: 30px;
    border-top: 2px solid #073307;
    margin-right: 20px;
    margin-top: 10px;
}


.first{
    transform: rotate(-62deg);
    margin: 0 20px;
    width: 15px;
    transition: all ease-in-out 300ms;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.last{
    transform: rotate(62deg);
    margin-bottom: 0;
    padding-bottom: 0;
    width: 15px;
    transition: all ease-in-out 300ms;
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
}


/*  
====================================================================================
******************************  NAVBAR STARTS HERE  ********************************
====================================================================================
*/


/* NAV CONTAINER */
.nav-con{
    max-width: 1440px; 
    /* position: sticky; */
    margin: 0 auto; 
}

/* nav flex */
.navbar{
    display: flex;
    color: #073307;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.2);
    position: sticky;
    width: 100%;
}

/* To drop the navbar when hambuger is clicked */
.showNav {
    transform: translateY(0);
  }

/* logo */

.navbar #brand p, #brand h1{
    padding: 0;
    margin: 0 5px 5px 5px;
}

#brand{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 0.5rem;
    margin-bottom: 0;
    flex: 1; 
}

.navbar #brand p{
    padding-left: 25px;
}

/* nav list */
.navbar #con{
    display: flex;
    list-style-type: none;
    padding-right: 15px;
    align-items: center;
    margin-right: 30px;
}

/* nav items */
.navbar #con li{
    padding: 0;
    font-size: 1.1rem;
}

#con li a{
    display: inline-block;
    padding: 20px 15px 20px 10px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

/* nav-list animation on hover */
.navbar #con li a:hover{
    transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -moz-transform: scale(1.3);
    transform: scale(1.3);
    border: none;
}

/* navbar ends here */

/*  
====================================================================================
******************************  FOOTER STARTS HERE  ********************************
====================================================================================
*/

/* Main footer div */
#footer{
    display: flex;
    background-color: #073307;
    justify-content: center;
    max-width: 1440px;
}

.footer-con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1{
    display: flex;
    
}

/* newsletter form float(column) */
#footer #subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* subscribe to News letter form div */
#footer #subscribe #form{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#footer #subscribe p{
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.5rem 0;
    justify-self: center;
    align-self: center;
}

#footer #subscribe #email{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

#footer #subscribe .btn{
    color: #073307;
    margin: 0;
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/* footer links and social media link float column */
#footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    justify-self: flex-start;
    border-left: solid white 0.01rem;
    margin: 1rem 2rem;
}

/* Social Media icons/links and navbar links */
#footer #footer1 #footersocials{
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer #footer1 #footersocials img{
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px 10px 5px 5px;
    margin: 5px 5px 5px 5px;
}

/* Navbar links (home, about, etc) */
#footer #footer1 #footerlinks{
    display: flex;
    justify-content: center;
    margin: 0;
}

#footer #footer1 #footerlinks a{
    color: white;
    border-right: white solid 1px;
    font-size: 0.8rem;
    font-weight: lighter;
    padding: 0 1rem;
}

/*  
====================================================================================
******************************  RESPONSIVENESS (768PX)  ****************************
====================================================================================
*/

@media(max-device-width:768px){
    .ham-con{
        max-width: 768px;
    }
    /* shows hamburger menu */
    .ham{
        visibility: visible;
        position: absolute;
    }

    /* footer container */
    .con{
        max-width: 768px;
    }
    
    .navbar{
        flex-direction: column;
        /* allows the use of z-index */
        position: absolute;
        /* hide the menu above the screen by default */
        transform: translateY(-100vh);
        /* transition adds a little animation when sliding in and out the menu */
        transition: transform 0.2s ease;
    }

    /* Drops the navbar to it normal place */
    .showNav {
        transform: translateY(0);
    }

    /* flex av item in a column */
    .navbar #con{
       flex-direction: column;
   }

   .navbar #brand{
       padding: 0;
   }

   .navbar #brand p, .navbar #brand h1{
       padding-left: 1rem;
   }

   .navbar #con{
        padding-right: 0;
    }

    /* footer container */
   #footer{
       max-width: 768px;
    }

    /* flex footer content in a column */
   .footer1{
       width: 100%;
       flex-direction: column;
   }

   /* Aligning and resizing */
   #footer #footer1{
       border-left: none;
   }

   #footer #footer1 #footersocials img{
        height: 1.5rem;
        width: 1.7rem;
        padding: 0 5px 2px 5px;
        margin: 0 5px 10px 5px;
    }

}

/*  
====================================================================================
******************************  RESPONSIVENESS (425PX)  ****************************
====================================================================================
*/

@media(max-width: 425px){
    .ham-con{
        max-width: 425px;
    }

    .con{
        max-width: 425px;
    }

    #footer{
        max-width: 425px;
    }
}

/*  
====================================================================================
***************************  RESPONSIVENESS (393PX)  ******************************
====================================================================================
*/

@media(max-width:393px){
    .ham-con{
        max-width: 393px;
    }

    #footer{
        max-width: 425px;
    }

    #footer #footer1 #footerlinks a{
        font-size: 7px;
        padding: 0 3px;
    }

    #footer #subscribe p{
        font-size: 0.8rem;
        
    }
}


/*  
====================================================================================
************************  RESPONSIVENESS (max height: 414PX)  ***********************
====================================================================================
*/

@media(max-device-height:414px){

    .footer1{
        justify-content: center;
    }
    
    /* shrink footer height */
    #footer{
        height: 40vh;
        max-width: 667px;
    }

    #footer1{
        padding-left: 0;
    }

    /* realignment */
    #footer #footer1 #footerlinks{
        justify-self: center;
        align-self: center;
    }
}