/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

/* ================================================================================== */

/* ******************************   DESKTOP VIEW   *********************************** */

/* ==================================================================================== */

/* NAVBAR STARTS HERE */

/* Main navbar div */
.navbar{
    display: flex;
    margin: 5px;
    padding: 7px 0;
    color: #073307;
    margin: 0;
    padding: 0;
    background: rgba(255,255,255,0);
    position: fixed;
    max-width: 1440px;
}

/* Name and job role div */
#brand{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    padding-left: 2rem;
    padding-top: 0.5rem;
    flex: 1; 
}

.navbar #brand p, #brand h1{
    padding: 0;
    margin: 5px;
}

.navbar #brand p{
    padding-left: 25px;
}


/* Home, about etc divs */
.navbar #con{
    display: flex;
    list-style-type: none;
    padding-right: 2rem;
}

.navbar #con li{
    padding: 1.3rem;
    font-size: 1.1rem;
    /* flex-wrap: nowrap; */
}

.navbar #con li:hover{
    background-color: #d1d6d2;
    transform: scale(1.3);
}

#con li a{
    color: inherit;
    text-decoration: none;
    text-align: center;
}


/* navbar ends here */


/* FOOTER FOOTER FOOTER FOOTER FOOTER */


/* Main footer div */
#footer{
    display: flex;
    height: 7rem;
    background-color: #073307;
    width: 100vw;
    /*  FOOTER HAS POSITION: ABSOLUTE WITH BOTTOM: 0 STYLE, INLINE ON THE INDEX HTML */
    justify-content: center;
    max-width: 1440px;
}

/* Social Media icons/links and navbar links (home, about, etc) DIV */
#footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex: 2; */
    margin-bottom: 3rem;
    justify-self: flex-start;
    border-left: solid white 0.01rem;
    padding-left: 2rem;
    margin: 1rem 2rem;
}

/* Social Media icons/links and navbar links */
#footer #footer1 #footersocials{
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer #footer1 #footersocials img{
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px 10px 5px 5px;
    margin: 5px 5px 20px 5px;
}

/* Navbar links (home, about, etc) */
#footer #footer1 #footerlinks{
    /* padding-left: 2rem; */
    margin: 0;
}

#footer #footer1 #footerlinks a{
    color: white;
    border-right: white solid 1px;
    font-size: 0.8rem;
    font-weight: lighter;
    padding: 0 1rem;
}

/* News letter form div */
#footer #subscribe #form{
    display: flex;
    flex-direction: column;
}

#footer #subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#footer #subscribe p{
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0.2rem;
    padding: 0.5rem 0;
    justify-self: center;
    align-self: center;
}

#footer #subscribe #email{
    padding: 0.3rem;
}

#footer #subscribe .btn{
    margin: 0;
    padding: 0.3rem 0;
}

/* ====================================================================================== */

/* *************************** TABLET RESPONSIVENESS ************************************* */

/* ======================================================================================== */

@media(max-device-width:768px){
    /* Navbar items move from column to row */
    .navbar{
        flex-direction: column;
    }
    .navbar #con{
       flex-direction: column;
   }

   /* Adjustments and position aligning */
   .navbar #brand{
       padding: 0;
   }

   .navbar #brand p, .navbar #brand h1{
       padding-left: 1rem;
   }

   .navbar #con{
        padding-right: 0;
    }

    /* Footer divs move from row to column */
   #footer{
       height: 30vh;
       flex-direction: column;
   }

   /* Aligning and resizing */
   #footer #footer1{
       border-left: none;
   }

   #footer #footer1 #footersocials img{
        height: 1.5rem;
        width: 1.7rem;
        padding: 0 5px 2px 5px;
        margin: 0 5px 10px 5px;
    }

    .navbar{
        position: static;
    }

}

/* ============================================================================================= */

/* ****************************** PHONE VIEW PORTRIAT VIEW ************************************** */

/* =============================================================================================== */

@media(max-device-height:414px){
    
    /* shrink footer height */
    #footer{
        height: 60vh;
    }

    /* realignment */
    #footer #footer1 #footerlinks{
        justify-self: center;
        align-self: center;
    }
}
