/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}

/* Tablet responsiveness */


/* navbar starts here */
.navbar{
    display: flex;
    margin: 5px;
    padding: 7px 0;
    color: #073307;
    margin: 0;
    padding: 0;
    background: rgba(255,255,255,0);
    position: fixed;
    width: 100vw;
}

#brand{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    padding-left: 2rem;
    padding-top: 0.5rem;
    flex: 1; 
}

.navbar #brand p, #brand h1{
    padding: 0;
    margin: 5px;
}

.navbar #brand p{
    padding-left: 25px;
}

.navbar #con{
    display: flex;
    list-style-type: none;
    padding-right: 2rem;
}

.navbar #con li{
    padding: 1.3rem;
    font-size: 1.1rem;
    /* flex-wrap: nowrap; */
}

.navbar #con li:hover{
    background-color: #d1d6d2;
}

#con li a{
    color: inherit;
    text-decoration: none;
    text-align: center;
}
/* navbar ends here */


/* FOOTER FOOTER FOOTER FOOTER FOOTER */

#footer{
    display: flex;
    height: 7rem;
    background-color: #073307;
    /* position: relative; */
    /* bottom: 0; */
    width: 100vw;
    justify-content: center;
}

#footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex: 2; */
    margin-bottom: 3rem;
    justify-self: flex-start;
    border-left: solid white 0.01rem;
    padding-left: 2rem;
    margin: 1rem 2rem;
}

#footer #footer1 #footersocials{
    display: flex;
    justify-content: center;
}

#footer #footer1 #footersocials img{
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px 10px 5px 5px;
    margin: 5px 5px 20px 5px;
}

#footer #footer1 #footerlinks{
    /* padding-left: 2rem; */
    margin: 0;
}

#footer #footer1 #footerlinks a{
    color: white;
    border-right: white solid 1px;
    font-size: 0.8rem;
    font-weight: lighter;
    padding: 0 1rem;
}

#footer #subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer #subscribe p{
     color: white;
     font-weight: lighter;
     font-size: 0.9rem;
     margin: 0.2rem;
     padding: 0.5rem 0;
}

#footer #subscribe #email{
    padding: 0.3rem;
}

#footer #subscribe #form{
    display: flex;
    flex-direction: column;
}

#footer #subscribe .btn{
    margin: 0;
    padding: 0.3rem 0;
}


@media(max-device-width:414px){
    .navbar{
        flex-direction: column;
    }
    .navbar #con{
       flex-direction: column;
   }

   .navbar #brand{
       padding: 0;
   }

   .navbar #brand p, .navbar #brand h1{
       padding-left: 1rem;
   }

   #footer{
       height: 40vh;
       flex-direction: column;
   }

   #footer #subscribe #form{
       justify-content: center;
   }

   #footer #subscribe #form #email, #footer #subscribe #form #email .btn{
       justify-self: center;
   }

   #footer #footer1{
       border-left: none;
   }
}
