/* css reset */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root{
    --font-color: #073307;
    --backround-color: rgb(219, 221, 220);
}


/*  
====================================================================================
*************************** Body starts here (1440px)  ***************************** 
====================================================================================
*/

.contain{
    max-width: 1440px;
    margin: 0 auto;
}

/* Container */
.container-main{
    padding-top: 80px;
    max-width: 1440px;
    background-color: var(--backround-color);
}

/* flex body items column */
.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* increased the font, changed thr color and added a margin */
#heading{
    color: var(--font-color);
    font-size: 50px;
    margin-bottom: 20px;
}

/* container holding project cards */
.container-divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 50px;
}

/* template for each project card */
.cards{
    background-color: white;
    overflow: clip;
    width: 25%;
    height: 400px;
    margin: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5)
}

/* image resizing */
.cards img{
    width: 100%;
    height: 200px;
}

hr{
    margin: 0 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}

/* changed font-size and color for all texts (h1 and h3) */
.cards h1, .cards p{
    text-align: center;
    margin: 5px;
    color: var(--font-color);
    line-height: 1.5;
}

.cards p{
    padding-bottom: 20px;
}


/*  
====================================================================================
*************************** RESPONSIVENESS (768PX)  ******************************** 
====================================================================================
*/

@media(max-width:768px){
    .container{
        max-width: 768px;
    }

    .cards{
        width: 70%;
        height: 40%;
    }
    
}

/*  
====================================================================================
*************************** RESPONSIVENESS (768PX)  ******************************** 
====================================================================================
*/

@media(max-width:414px){
    .container{
        max-width: 414px;
    }

    .cards{
        width: 70%;
        height: 30%;
    }
    
}