/* remove margin on all h1's p's and h2's*/
h1, h2, p{
    margin: 10px 10px;
    padding: 10px 10px;
}

/* add margin and padding to width */
*{
    box-sizing: border-box;
}

/* body reset */
body{
    margin: 0;
    padding: 0;
    background-color: rgba(238, 247, 237, 0.7);
    font-family: 'Open Sans', sans-serif;
}

/* using css variables to add font color */
:root{
    --font-color: #073307;
}

/* display hamburger menu */
.ham {
    visibility: visible;
}

/* Navbar here */
.navbar{
    /* make navbar transparent */
    background-color: rgba(255, 255, 255, 0);
    /* remove box shadow */
    box-shadow: none;
    /* hide the menu above the screen by default */
    transform: translateY(-100vh);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
}
    /* to add restore navbar height when class is added */
.showNav {
    transform: translateY(0);
}



/*  
====================================================================================
*************************** Body starts here (1440px)  ***************************** 
====================================================================================
*/

/* container to hold content in page on lager screen */
.width{
    max-width: 1440px;
    margin:0 auto;
}

/* container keeps all contents centered */
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

/* background image here */
.section1{
    width: 100%;
    height: 100vh;
    background: url("/images/background3.jpg") no-repeat center center/cover;
    background-size: cover;
}

/* centered the text on the home page */
.container2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center; 
}

/* Added a shadow to the text and changed font color */
.content h1, .content h3{
    color: var(--font-color);
    text-shadow: 5px 5px 20px (0,0,0,0.5);
}

/* Enlarged the texts for asthetics */
.content h1{
    font-size: 55px;
    margin-bottom: 5px;
    padding: 5px;
}

.content h3{
    font-size: 17px;
}

.content p, .content p a{
    font-size: 14px;
    margin: 0;
    padding: 5px;
}
.content p a{
    font-size:20px;
}

/* styled and enlarged and rounds edges */
.content .btn{
    align-self: center;
    margin: 20px;
    padding: 20px;
    width: 40%;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    background-color: var(--font-color);
}

/* changed the color of the text in the button */
.content a{
    color: whitesmoke;
}

/* little animation when you hover ;) */
.btn:hover{
    transform: rotate(5deg);
}

/* what do I do section */
.section2{
    width: 100%;
}
/* name, role and skills container */
.sub-section2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

/* What I do banner */
.about{
    background-color: var(--font-color);
    color: white;
    text-align: center;
    font-size: 5em;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

/* Template for each id's divs, headers etc */
#summary, #skill{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    border-radius: 5px;
    background-color: whitesmoke;
    color: var(--font-color);
    box-shadow: 10px 10px 30px rgba(0, 0,0, 0.3);
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 20px 0 20px 0;
}


hr{
    margin: 0 1.5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

/* summary div */
#summary:not(hr){
    padding: 10px;
}

#summary #summary1{
    line-height: 1.5rem;
    text-align: center;
    height: 100%;
}

#summary #summary1 p{
    padding: 0 40px;
}

/* Skills div */
#skill #skills{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#skill #skills ul{
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: center;
}

#skill #skills li{
    margin: 0.7rem;
}

/* Testimonials */
.test-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 70px 0;
    background-color: #dfe2de;
    margin-top: 40px;
}

/* Testimoinal heading and paragraph beneath */
#heading{
    margin: 3px;
    padding: 3px;
    font-size: 35px;
    align-self: center;
}

#para{
    align-self: center;
    margin: 3px;
    padding: 5px 10px 40px 10px;
    text-align: center;
}

/* flex headings testimonial div row */
.test-con2{
    width: 100%;
    display: flex;
}

/* flex image and individual testimonial div row */
.test-con2 .testimony {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* individual testimonials */
.test-con2 .testimony .testimonies{
    width: 350px;
    height: 400px;
    border: solid #9fa39f 1px;
    padding: 50px 20px 20px 20px;
    text-align: center;
    white-space: wrap;
}

/* remove space from top of div */
.test-con2 .testimony .testimonies p{
    margin-top: 0;
    padding-top: 0;
}

/* enlarge and bolden quotation marks surrounding text */
.test-con2 .testimony .testimonies span{
    font-size: 2.5rem;
    font-weight: bolder;
}

.test-con2 div .imgs{
    display: flex;
    /* needed for a z-index */
    position: relative;
    /* keeps image on-top of div (Hides intersection border) */
    z-index: 2;
    width: 85px;
    justify-content: center;
    align-self: center;
    background-color: yellowgreen;
    border-radius: 45%;
    border: solid #9fa39f 1px;
    padding: 10px;
    margin-bottom: -50px;
}

/* mansory container */
.memories{
    width: 100%;
    padding:40px 20px;
}

.memories #heading{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--font-color);
    margin: 20px 0 40px 0;
}

/* mansonry grid box */
.memories .mansory-grid{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: 200px;
    column-gap: 3px;
    row-gap: 5px;
}

/* make image take out 100% of allocated space */
.memories .mansory-grid .mansory{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/* first element takes up 2 slots in a column */
.memories .mansory-grid .mansory:first-child{
    grid-column: 1/span 2;
}

/* third element takes up 2 slots in a column and row */
.memories .mansory-grid .mansory:nth-child(3){
    grid-column: 4/span 2;
    grid-row: 1/span 2;
}

/*  
====================================================================================
*************************** RESPONSIVENESS (768px)  ***************************** 
====================================================================================
*/

@media(max-device-width:768px){
    /* place nav items underneath brand */
    .navbar #con{
        flex-direction: row;
    }

    /* shrink header */
    .content h1{
        font-size: 40px;
        margin-bottom: 5px;
        padding: 5px;
    }

    /* shrink button */
    .content .btn{
        margin: 10px;
        padding: 10px;
        width: 30%;
        font-size: 20px;
    }

    /* increase height of page */
    .section1{
        width: 100%;
        height: 120vh;
    }

    .test-con2 div .imgs{
        width: 60px;
    }

    .test-con2 div .imgs img{
        width: 45px;
    }
}


/*  
====================================================================================
*************************** RESPONSIVENESS (425px)  ***************************** 
====================================================================================
*/
@media(max-width:425px){
    /* shrink header texts */
    .content h3{
        font-size: 14px;
    }

    .content p a{
        font-size: 14px;
    }

    /* flex individual testimonies column */
    .test-con2{
        flex-direction: column;
    }

    /* added margin to the bottom on individual testimonie */
    .test-con2 .testimony{
        margin-bottom: 20px;
    }

    /* reduced image background width */
    .test-con2 div .imgs{
        width: 60px;
        margin-bottom: -40px;
    }
}

/*  
====================================================================================
*************************** RESPONSIVENESS (320px)  ***************************** 
====================================================================================
*/
@media(max-width:320px){
    /* shrunk everything */
    #summary, #skill{
        font-size: 0.7rem;
        line-height: 0.7rem;
    }

    .about{
        font-size: 4Rem;
    }

    #heading{
        font-size: 25px;
    }

    .test-con2 div .imgs{
        width: 12vw;
    }

    .test-con2 div .imgs img{
        max-height: 10vh;
        max-width: 10vw;
    }

    .test-con2 .testimony .testimonies p{
        font-size: 10px;
    }

    .test-con2 .testimony .testimonies{
    width: 60%;
    }
}
 /*  
====================================================================================
*************************** RESPONSIVENESS (max height: 414px)  ***************************** 
====================================================================================
*/
@media(max-height: 414px){
    /* flex individual testimonies column */
    .test-con2{
        flex-direction: column;
    }
}